*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table2{

}

table,td,th{
  border: 1px solid grey;
  border-collapse: collapse;
}
/* td{
  border-bottom: 1px solid lightgrey;
} */
table{
  width: 50%;
  margin:10px auto;
  /* border: 1px solid lightgrey; */
}
th{
  background: blue;
  color: white;
  font-size: 20px;
  padding: 10px;
}
td{
  padding:7px 20px 3px 7px ;
}
caption{
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 40px;
}
tr:nth-child(even){
  background: lightgrey;
}
.green{
  background: green;
  color: white;
  font-size: 17px;
  padding: 3px;
  border: none;
}
.yellow{
  background:orange;
  color: black;
  font-size: 17px;
  padding:3px 8px;
  border: none;
}